img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

body {
    background-color: transparent;
    font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
    font-size: 14px;
    line-height: 18px;
    color: #aaddff;
//    margin-left: auto;
//    margin-right: auto;
}

#topmarten.navbar-default {
    background-color: rgba (248, 0, 0, 0.4);
    color: #ffddaa;
}
#topmarten .navbar-collapse {
    background-color: rgba(160, 160, 160, 0.35);
}
#topmarten .navbar-header {
    background-color: rgba(160, 160, 160, 0.5);
    padding-left: 15px;
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 0px solid #dddddd;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: rgba(160, 160, 160, 0.4);

}

.container hr {
    margin: 5px 0;
}

.clear {
    clear: both;
}
