<div id="login">
  {{#if isProcessing}}
    <div class="flash neutral img-rounded">
      Čekej, vole.
    </div>
  {{/if}}
  {{#if loginFailed}}
    <div class="flash idiotic img-rounded">
      What are you, stupid?
    </div>
  {{/if}}
  <form class="form-horizontal" {{action login on="submit"}}>
    <div class="control-group">
      <div class="input-group">
        <span class="input-group-addon">Login</span>
        {{view Ember.TextField id='identification' valueBinding='identification' placeholder='Username' class='form-control'}}
      </div>
      <div class="input-group">
        <span class="input-group-addon">Password</span>
        {{view Ember.TextField id='password' type='password' valueBinding='password' placeholder='My elbow itches' class='form-control'}}
      </div>
      <div class="input-group">
        <button type="submit" class="btn" {{bind-attr disabled="isProcessing"}}>Oouh!</button>
      </div>
    </div>
  </form>
</div>
